header {
    padding: 8px 60px;
    background-color: #F9FAFB;
    display: flex;
    flex-direction: column;
    gap: 12px;
    position: relative;
}

/* Открытие мобильного меню */
header.open-menu-mobile{
    padding: 24px 63px 12px 63px;
}
header.open-menu-mobile .header-bottom {
    display: flex;
    padding: 0 63px 24px 63px;
    background-color: #F9FAFB;
    border-radius: 0px 0px 16px 16px;
    z-index: 10;
}
/* */

header .header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .header-top-info .additional {
    display: none;
}
header .header-top-info .divider {
    display: none;
}
header .header-top-company-name {
    font-family: 'Formular-Black';
    color: #111827;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 28px;
}
header .header-top-logo {
    display: flex;
    gap: 4px;
    align-items: center;
}
header .header-top-info .basic-info .phone-additional {
    display: none;
}
header .header-top-info .basic-info .phone {
    font-family: 'Formular-Black';
    color: #111827;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 28px;
}
header .header-top-info .basic-info {
    display: flex;
    gap: 16px;
    align-items: center;
}
header .header-top-info .basic-info .menu-container img {
    display: none;
    cursor: pointer;
}
header .header-top-info .basic-info .menu-container img.active {
    display: block;
}
header .header-bottom {
    position: absolute;
    display: none;
    flex-direction: column;
    gap: 12px;
    top: 100%;
    left: 0;
    width: calc(100% - 126px);
}
header .header-bottom .divider {
    width: 100%;
    height: 2px;
    background-color: #A78BFA;
}
header .header-bottom .buttons {
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
}
header .header-bottom .buttons .menu-chips {
    font-family: 'Formular-Bold';
    display: flex;
    align-items: center;
    gap: 24px;
}
header .header-bottom .buttons .menu-chips .chip {
    cursor: pointer;
    color: #111827;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}
header .header-bottom .buttons .menu-chips .chip:hover {
    color: #8B5CF6;
}
header .header-bottom .buttons .button-application {
    font-family: 'Formular-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #F9FAFB;
    padding: 10px 28px;
    background: #8B5CF6;
    border-radius: 4px;
    cursor: pointer;
    border: 0;
}
header .header-bottom .buttons .button-application:active {
    background: #6D28D9;
}
header .header-bottom .additionals {
    display: flex;
    align-items: center;
    gap: 24px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #111827;
}
header .header-bottom .additionals div {
    text-align: center;
}
header .header-bottom .additionals div:nth-child(1) {
    flex: 1;
}
header .header-bottom .additionals div:nth-child(2) {
    flex: 1;
}
header .header-bottom .additionals div:nth-child(3) {
    white-space: nowrap;
}

@media(min-width: 1024px) {
    header {
        padding: 24px 128px;
    }
    header .header-top-company-name {
        font-size: 24px;
        line-height: 32px;
    }
    header .header-bottom {
        display: flex;
        position: static;
        width: auto;
        padding: 0;
    }
    header .header-top-info .basic-info {
        flex-direction: column;
        gap: 4px;
    }
    header .header-top-info .basic-info .phone {
        font-size: 24px;
        line-height: 32px;
    }
    header .header-top-info .basic-info .menu-container {
        display: none;
    }
    header .header-top-info .basic-info .phone-additional {
        display: block;
        font-size: 16px;
        line-height: 24px;
        font-style: normal;
        font-weight: 300;
        font-family: 'Formular-Light';
    }
    header .header-bottom .buttons {
        justify-content: space-between;
    }
    header .header-bottom .additionals {
        padding: 4px 32px;
        gap: 8px;
    }
}

@media(min-width: 1536px) {
    header {
        padding: 24px 256px;
        gap: 24px;
    }
    header .header-top .header-top-info {
        display: flex;
        gap: 12px;
    }
    header .header-top .header-top-info .additional {
        display: flex;
        flex-direction: column;
        align-items: end;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #111827;
    }
    header .header-top  .header-top-info .divider {
        display: flex;
        background-color: #A78BFA;
        width: 1px;
    }
    header .header-top-info .basic-info {
        justify-content: center;
    }
    header .header-top-info .basic-info .phone {
        font-size: 30px;
        line-height: 36px;
    }
    header .header-top-info .basic-info .phone-additional {
        font-size: 20px;
        line-height: 28px;
    }
    header .header-bottom .divider {
        display: none;
    }
    header .header-bottom .additionals {
        display: none;
    }
}

@media(min-width: 1920px) {
    header {
        padding: 24px 192px;
        gap: 24px;
    }
    header .logo-container {
        height: 74px;
        width: 50px;
    }
    header .header-top-info {
        display: flex;
        gap: 12px;
    }
    header .header-top-info .additional {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: #111827;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
    }
    header .header-top-info .divider {
        height: 100%;
        width: 1px;
        background-color: #A78BFA;
    }
    header .header-top-info .basic-info {
        flex-direction: column;
        justify-content: space-between;
    }
    header .header-top-info .basic-info .phone-additional {
        color: #111827;
        font-style: normal;
        font-weight: 300;
        font-size: 24px;
        line-height: 32px;
    }
    header .header-bottom {
        display: flex;
        justify-content: space-between;
    }
    header .header-bottom .menu-chips {
        display: flex;
        gap: 24px;
        color: #111827;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        align-items: center;
    }
    header .header-bottom .button-application {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 28px;
        background: #8B5CF6;
        border-radius: 4px;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        color: #F9FAFB;
        font-family: 'Formular-Bold';
        cursor: pointer;
    }
}
